<!doctype html>
<html>

<head>
  <title>ClipPocket</title>
  <style>
    html,
    body {
      background: #eeeeee;
    }

    #clipzone {
      display: flex;
      margin: 50px auto;
      padding: 15px;
    }
  </style>
</head>

<body>
  <textarea id="clipzone" name="clipzone" rows="50" cols="130" onkeyup="onChange();" onchange="onChange();"></textarea>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();

    function onChange() {
      socket.emit('clip_update', document.getElementById("clipzone").value);
    };
    socket.on('clip_update', function (msg) {
      document.getElementById('clipzone').value = msg;
    });
  </script>

</body>


</html>